<div class="footer">
  <div class="footer__divider">
    <div class="footer__nav container">
      <div class="footer__logo">
        <img routerLink="/" src="assets\white_logo.png" alt="Logo">
      </div>
      <div class="footer__links">
        <ul>
          <li>O nas</li>
          <li routerLink="products" routerLinkActive="footer__active">Produkty</li>
          <li>Katalogi</li>
          <li routerLink="contact" routerLinkActive="footer__active">Kontakt</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer__bottom container">
    <div class="footer__copywrites">
      <p>© Copyright Kvalitetsvindu 2018.</p>
      <p>All rights reserved</p>
    </div>
    <div class="footer__address">
      <p>Kvalitetsvindu AS</p>
      <p>Olav Magnussons veg 32 B</p>
      <p>7562 Saksvik</p>
    </div>
  </div>
</div>
