.baner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 615px;
    background-image: url("/assets/Layer 55808@1X.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &__text{
        position: absolute;
        top: 30%;
        font-size: 40px;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        span{
            display: inline;
            background-color:rgb(40, 113, 218, 0.8);
            color:#fff;
        }
    }
}