<div class="baner">
    <p class="baner__text">
        <span>Oto przykładowy</span>
        <span> slogan reklamowy</span>
    </p>
</div>
<div class="kalkulator">
    <div class="kalkulator__container">
        <div class="kalkulator__container__title">
            <p>Kalkulator okien</p>
        </div>
        <div class="kalkulator__container__steps">
            <div class="kalkulator__container__step">
                <p>1</p>
            </div>
            <div class="kalkulator__container__step">
                <p>2</p>
            </div>
            <div class="kalkulator__container__step">
                <p>3</p>
            </div>
            <div class="kalkulator__container__step">
                <p>4</p>
            </div>
            <div class="kalkulator__container__step">
                <p>5</p>
            </div>
        </div>
    </div>
</div>