<div class="navbar">
    <div class="navbar__navigation">
        <div class="navbar__logo">
            <img src="assets/Logo@1X.png" alt="Logo">
        </div>
        <div class="navbar__links">
            <div class="navbar__text">
                <a href="#"><p>O nas</p></a>
                <a href="#"><p>Produkty</p></a>
                <a href="#"><p>Katalogi</p></a>
                <a href="#"><p>Kontakt</p></a>
            </div>         
        </div>
    </div>
    <div class="navbar__divided">
        <p>Tel. 974 65 488</p>
        <a href="#"><p>kenneth@kvalitetsvindu.no</p></a>
        <a href="#"><img src="assets/fb.png" alt="fb-logo"></a>
    </div>
</div>
