@import 'src/variables.scss';

mat-sidenav-container {
    min-height: calc(100% - 427px);
}
mat-sidenav, mat-sidenav-content {
    padding: 16px;
}
mat-sidenav {
    background-color: $accent-color;
    width: 200px;
    color: $font-light;
}
.menu {
    position: absolute;
    left: -18px;
    top: 17px;
    transform: rotate(90deg);
    background: $accent-color;
    color: $font-light;
    padding-left: 7px;
    padding-right: 7px;
    cursor: pointer;
}
ul {
    list-style: none;
    padding-top: 20px;
    padding-left: 0;
    li {
        font-size: 16px;
        cursor: pointer;
        padding-bottom: 10px;       
    }
}
.mat-drawer-content {
    overflow: visible;
}