<div class="container">
    <h2 class="text-center">Lista produktów</h2>

    <button class="add_product" mat-raised-button color="primary" (click)="createProduct()"><mat-icon>add</mat-icon>Dodaj produkt</button>
    <mat-form-field class="search">
      <mat-label>Szukaj...</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
  
      <!-- Position Column -->

      <ng-container matColumnDef="img">
        <th mat-header-cell *matHeaderCellDef> Miniatura </th>
        <td mat-cell *matCellDef="let element"><img class="minImg" [src]="element.imgUrl" alt=""></td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Nazwa produktu </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef> Kategoria </th>
        <td mat-cell *matCellDef="let element"> {{element.category}} </td>
      </ng-container>
  
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Akcje </th>
        <td mat-cell *matCellDef="let element"><button mat-raised-button color="warn" (click)="deleteProduct(element.key)">Usuń</button> </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator  [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
  
  </div>
  